.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1 .u-group-1 {
  width: 822px;
  min-height: 748px;
  margin: 0 auto 0 36px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 612px;
  height: 605px;
  
  
  
  margin: 34px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 513px;
  height: 513px;
  background-image: url("images/vbvbvbee.jpg");
  background-position: 50% 50%;
  
  
  
  
  
  margin: -579px auto 0 86px;
}

.u-section-1 .u-group-2 {
  background-image: none;
  width: 632px;
  min-height: 488px;
  
  
  
  
  
  margin: -488px 0 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  
  margin: 64px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  margin: 21px 28px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 36px auto 0 0;
  padding: 18px 50px 20px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-text-1 {
  
  
  
  
  
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 75px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 218px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,44,41,0.25);
  
  
  
  
  
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,44,41,0.25);
  
  
  
  
  
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(51,44,41,0.25);
  
  
  
  
  
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1257px;
}

.u-section-3 .u-image-1 {
  width: 788px;
  height: 479px;
  margin: 62px auto 0;
}

.u-section-3 .u-group-1 {
  min-height: 548px;
  background-image: linear-gradient(to right, #ffb92f, #6733e2);
  width: 974px;
  margin: 43px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-list-1 {
  width: 860px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 406px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 478px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 437px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 660px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 328px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-list-1 {
    width: 520px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 207px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 320px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 {
  background-image: none;
  min-height: 812px;
}

.u-section-4 .u-shape-1 {
  height: 656px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  
  
  
  
  
}

.u-section-4 .u-image-1 {
  width: 572px;
  height: 753px;
  object-position: 21.06% 50%;
  
  
  
  
  
  margin: -597px calc(((100% - 1140px) / 2) + 48px) 0 auto;
}

.u-section-4 .u-group-1 {
  width: 545px;
  min-height: 557px;
  margin: -720px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding: 0 35px 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  font-size: 3.4375rem;
  
  
  
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  
  
  
  
  
  margin: 28px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  background-image: none;
  
  
  
  
  
  margin: 32px auto 0 0;
  padding: 18px 50px 20px 49px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-image-1 {
    width: 499px;
    height: 731px;
    margin-top: -575px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 506px;
    min-height: 529px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    height: 659px;
  }

  .u-section-4 .u-image-1 {
    width: 458px;
    height: 671px;
    margin-top: -518px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 395px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1061px;
  }

  .u-section-4 .u-image-1 {
    width: 459px;
    height: 627px;
    margin-top: -225px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    min-height: 413px;
    margin-top: -998px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1094px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 518px;
    margin-top: -83px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -1031px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 662px;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-5 .u-group-1 {
  width: 397px;
  min-height: 377px;
  margin: 45px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 359px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  height: 318px;
  background-image: url("images/Jay.jpg");
  background-position: 50% 50%;
  width: 318px;
  margin: -268px 0 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 662px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 111px 30px 121px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 60px 149px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 30px auto 0 0;
  padding: 18px 50px 20px 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1046px;
    order: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 785px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-group-1 {
    min-height: 346px;
    width: 302px;
    margin-top: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 282px;
    height: 271px;
  }

  .u-section-5 .u-image-1 {
    height: 276px;
    width: 276px;
    margin-top: -221px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 439px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 378px;
  background-image: url("images/nline-assistant-user-help-frequently-asked-questions-call-center-worker-cartoon-character-woman-working-hotline_335657-2336.jpg");
  background-position: 50% 50%;
  width: 378px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Archivo Black";
  text-transform: none;
  margin: 39px 213px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 18px 170px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 2px 5px 0px 0 rgba(51,44,41,0.4);
  background-image: none;
  margin: 18px auto 0 0;
  padding: 18px 65px 19px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-6 .u-image-1 {
    height: 316px;
    width: 316px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 77px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-6 .u-image-1 {
    height: 228px;
    width: 228px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 401px;
    width: 401px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-6 .u-image-1 {
    height: 320px;
    width: 320px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}